DJANGO_SECRET_KEY=""
DJANGO_DEBUG=True
SECURE_SSL_REDIRECT=
ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
CSRF_TRUSTED_ORIGINS=https://localhost,https://127.0.0.1

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=pg
POSTGRES_PORT=5432
